version: '3.8'

services:
  app-dev:
    build:
      context: .
      dockerfile: docker/node/Dockerfile.dev
    container_name: tisa-prime-dev
    ports:
      - "3000:3000"
    volumes:
      - app-node-modules:/app/node_modules
      - ./src:/app/src
      - ./index.html:/app/index.html
      - ./vite.config.js:/app/vite.config.js
      - ./package.json:/app/package.json
    environment:
      - NODE_ENV=development
    env_file:
      - .env
    command: npm run dev

  app-prod:
    build:
      context: .
      dockerfile: docker/node/Dockerfile.prod
    container_name: tisa-prime-prod
    ports:
      - "80:80"
    environment:
      - NODE_ENV=production
    env_file:
      - .env

volumes:
  app-node-modules:
    name: tisa-prime-node-modules

