* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Vazir', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  direction: rtl;
  background-color: var(--p-surface-50);
}

#app {
  min-height: 100vh;
}

.p-component {
  font-family: 'Vazir', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rtl {
  direction: rtl !important;
}

.rtl-right {
  direction: rtl !important;
  text-align: right !important;
}

.ltr {
  direction: ltr !important;
}

.ltr-left {
  direction: ltr !important;
  text-align: left !important;
}

.ltr-center {
  direction: ltr !important;
  text-align: center !important;
}
